<div class="rules-card">
    <ul>
        <li>❔ Start the game with {{cardNumber}} cards, face down.</li>
        <li>🌵 When clicked, a card will flip to reveal an image.</li>
        <li>🧦 The image on each card is only matched by {{matchNumber}} other card image{{matchNumber > 1 ? 's' : ''}}.
        </li>
        <li>✨ If the next card clicked is a match, those cards will disappear.</li>
        <li>🔁 If the next card clicked is different, those cards will revert to their face-down position.</li>
        <li>🏆 Win the game by matching all of the cards until there are none left.</li>
    </ul>
</div>