@import '../../styles.scss';

:host {
    .speech-bubble {
        background-color: $color-purple-light;
        text-align: center;
        padding: 20px;
        align-content: center;
        border-radius: 50px;
        position: absolute;
        top: 80px;
        left: 60px;
        max-width: 250px;

        p {
            margin: auto;
            color: $color-purple-dark;
            font-size: 16px;

            &:before {
                content: "";
                position: absolute;
                bottom: -30px;
                right: 80px;
                border-width: 0 0 30px 25px;
                border-style: solid;
                border-color: transparent $color-purple-light;
                display: block;
                width: 0;
            }
        }
    }

    .splash-image {
        width: 380px;     
        position: absolute;
        top: 140px;
    }

    @media (min-width: 1200px) {
        .speech-bubble {
            top: 120px;
            left: 250px;
        }

        .splash-image {
            width: 600px;
            top: 100px;
            left: 50px;
        }
    }
}